# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual Environments
.venv/
venv/
env/

# =========================
# AWS / Secrets
# =========================
.aws/
.env
.env.*
credentials
aws_credentials.json

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =======================
